THINGSPEAK_API_DATA_URL=<Enter read API URL of Thingspeak channel where you have posted the sensor data>
THINGSPEAK_API_ADMIN_STATUS_URL=<Enter read API URL of Thingspeak channel where you have posted status update information>
THINGSPEAK_API_ADMIN_WIFI_URL=<Enter read API URL of Thingspeak channel where you have posted WiFi downtime information>
NEXT_PUBLIC_THINGSPEAK_CALIBRATION_FACTOR_URL="https://api.thingspeak.com/update"
NEXT_PUBLIC_THINGSPEAK_API_KEY=<Enter write API key for calibration factor update>
NEXT_PUBLIC_BACKEND_URL=<Enter base URL of backend server>
CRYPTOGRAPHIC_KEY_1=<Enter random integer you would like as your secret key>
CRYPTOGRAPHIC_KEY_2=<Enter random integer you would like as your secret key>
NEXT_PUBLIC_DEPLOYMENT_LOCATION=<Enter string describing location of sensor deployment>